.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template: 
    "sidebar header" 1fr
    "sidebar dragarea" 5fr
    / 1fr 5fr;

  div {
    border-radius: 50px;
    margin: 20px;
  }

  .sidebar {
    background-color: greenyellow;
    grid-area: sidebar;
  }

  .header {
    background-color: coral;
    grid-area: header;
    
  }

  .dragarea {
    background-color: lightgray;
    grid-area: dragarea;
  }
}