.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template: 
    "sidebar header" 1fr
    "sidebar dragarea" 5fr
    / 1fr 5fr;

  div {
    // border: 1px white solid;
    border-radius: 50px;
    margin: 20px;
  }

  .sidebar {
    background-color: greenyellow;
    grid-area: sidebar;
  }

  .header {
    background-color: coral;
    grid-area: header;
  }

  .dragarea {
    background-color: gray;
    grid-area: dragarea;
  }
}