.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template: 
    "sidebar header" 1fr
    "sidebar dragarea" 5fr
    / 2fr 5fr;

  > div {
    border-radius: 50px;
    margin: 10px;
  }

  .sidebar {
    background-color: greenyellow;
    grid-area: sidebar;
  }

  .header {
    background-color: coral;
    grid-area: header;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .dragarea {
    background-color: lightgray;
    grid-area: dragarea;
  }
}

p {
  margin: 0px;
}